{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "none",
    "printWidth": 200,
    "plugins": ["prettier-plugin-svelte", "@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^svelte", "<THIRD_PARTY_MODULES>", "^\\$lib/", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
